header {
  color: white;
  top:0;
  margin: 0 auto;
  z-index: 2;
  width:100vw;
  display: flex;
}

#elements {
  width: 700px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color);
  height: 45px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
}

span {
  padding: 0 21px;
}

a:hover {
  color: #4d4d4d;
}

#user-section,
#links-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#user-section{
  gap:25px;
  font-style: normal;
}


.navbar-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-picture img {
  height: 35px;
  border-radius: 100%;
}

.navbar-picture a {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-name {
  font-style: italic;
}

/* TODO make navbar resizable */
