footer {
  background-color: var(--ter-color);
  color: white;
  text-align: center;
  padding: 20px 0;
  /* con esto me funciona */
  margin-top: auto;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#footer-contact {
  display: flex;
}
#footer-cont-text {
  font-size: 42px;
  font-style: italic;
  font-weight: 100;
  color: white;
}

#footer-email h3 {
  font-size: 13px;
}

input {
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 0;
  padding-left: 10px;
  padding-right: 0px;
}

input::placeholder{
  color:var(--gray);
  font-style: italic;
}


#footer-media{
  margin:0;
}
