.svg-auth {
  background-color: #fff;
}

.svg-auth:hover {
  background-color: #dddbdb;
}

/* Estilos para el formulario de registro */
#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

#register-form h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

#register-form form {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#register-form h2 {
  text-align: left;
  font-size: 1rem;
  color: #555;
  margin: 10px 0 5px;
}

#register-form input[type="email"],
#register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

#btn-section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#btn-section button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-section button:hover {
  background-color: black;
}

#register-form input[type="email"]:focus,
#register-form input[type="password"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
}
